<?xml version="1.0" encoding="UTF-8" ?>
<Configuration name="irdDDB" status="ERROR" monitorInterval="5">
    <Appenders>
        <Console name="Out">
            <PatternLayout pattern="[%threadName] %-5level %logger{36} - %message{nolookups}%xThrowable{separator(|)}%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Out"/>
        </Root>
    </Loggers>
</Configuration>